@page "/"

<PageTitle>Index</PageTitle>



<SurveyPrompt Title="Master Detail CRUD Operations" />

<div class="col-6">
    
</div>
<div>

    <h1 class="text-end fw-bold text-secondary">Master Detail</h1>

    <h2 class="text-end  text-secondary">Project For Midterm Exam </h2>
    <h3 class="text-end  text-secondary">IsDB-BISEW IT Scholarship Programme</h3>
    <h6 class="text-end">MD MANJURUL ISLAM</h6>
    <h6 class="text-end">ID:1272178</h6>


</div>