@page "/About"
<h1 class="text-center fw-bold text-secondary">Master Detail</h1>

<h2 class="text-center  text-secondary">Project For Midterm Exam </h2>
<h3 class="text-center  text-secondary">IsDB-BISEW IT Scholarship Programme</h3>
<h6 class="text-center">MD MANJURUL ISLAM</h6>
<h6 class="text-center">ID:1272178</h6>
@code {

}
